01 - crie um programa que conte de zero at√© cinco

In [1]:
x = 0
while (x<=5):
    print(x)
    x += 1

0
1
2
3
4
5

02 - crie uma lista com cinco nomes e mostre cada um seus respctivos numeros

In [3]:
nome = []
nome=[
    "Gustavo",
    "Carlos",
    "Felipe",
    "Ana Luiza",
    "Maria Rita"]
x=0
while(x<=4):
    print(x,nome[x])
    x += 1

0 Gustavo
1 Carlos
2 Felipe
3 Ana Luiza
4 Maria Rita

03 - crie uma lista com cinco nomes e organize de modo alfabetico, mostrando os seus resprctivos mumeros:

In [4]:
nome = []
nome=[
    "Gustavo",
    "Carlos",
    "Felipe",
    "Ana Luiza",
    "Maria Rita"]
nome.sort()
x=0
while(x<=4):
    print(x,nome[x])
    x += 1

0 Ana Luiza
1 Carlos
2 Felipe
3 Gustavo
4 Maria Rita