01 - Crie um programa que entre com o valor zero e conte ate cinco

In [1]:
x = 0
while (x<=5):
    print(x)
    x += 1

0
1
2
3
4
5

02 - Crie um programa que guarde cinco nomes e demosntre o numero armazenado:

In [3]:
nome =['Douglas','Aline','Murilo','Carlos','Roseli']

x = 0
while(x<5):
    print(x," - ",nome[x])
    x += 1

0  -  Douglas
1  -  Aline
2  -  Murilo
3  -  Carlos
4  -  Roseli

03 - Crie um programa que guarde cinco nomes e cinco idades e demonstre o numero armazenado:

In [1]:
nome =['Douglas','Aline','Murilo','Carlos','Roseli']
idade =['22','15','16','16','18']

x = 0
while(x<5):
    print(x," - ",nome[x],idade[x],"anos")
    x += 1

0  -  Douglas 22 anos
1  -  Aline 15 anos
2  -  Murilo 16 anos
3  -  Carlos 16 anos
4  -  Roseli 18 anos